app-src/public/assets
app-src/public/assets/*
app-src/node_modules
app-src/public/hot
app-src/public/storage
app-src/storage/*.key
app-src/vendor
app-src/.env
app-src/.env.backup
app-src/.phpunit.result.cache
app-src/Homestead.json
app-src/Homestead.yaml
app-src/npm-debug.log
app-src/yarn-error.log
app-src/*.sqlite